<ion-header>
  <ion-toolbar>
    <ion-title>
      Grocery List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="emptyList" color="primary">
    <ion-card-header>
      Please add some items to your grocery list! <br><br>
      Enter an item name and amount below. <br><br>
      Click ADD ITEM.
    </ion-card-header>
  </ion-card>
  <ion-card *ngFor="let item of groceryItems | async">
    <div>{{item.id}}</div>
    <ion-item>
      <ion-label position="fixed">Name:</ion-label>
      <ion-input type="text" (ionChange)="updateItem(item)" debounce="350">{{item.name}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Amount:</ion-label>
      <ion-input type="number" min="0" (ionChange)="updateItem(item)" debounce="100">{{item.amount}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Done?</ion-label>
      <ion-checkbox color="dark" (ionChange)="updateItem(item) "checked="{{item.isDone}}" ></ion-checkbox>
    </ion-item>
    <ion-item class="ion-text-end">
      <ion-button color="danger" (click)="deleteItem(item.id)">Delete Item</ion-button>
    </ion-item>
  </ion-card>
  <div></div>
</ion-content>

<ion-footer>
  <ion-toolbar class="align-right">
    <form (ngSubmit)="addItem()">
      <input type="text" [(ngModel)]="newItem.name" placeholder="Name" name="itemName"/>
      <input type="number" min="0" [(ngModel)]="newItem.amount" placeholder="Amount" name="itemAmount"/>
      <ion-button size="large" type="submit()">Add Item</ion-button>
    </form>
  </ion-toolbar>
</ion-footer>
